extends ../base
include ../mixins/video

block content
    div.profile_data
        img(src="/" + user.avatarUrl).avatar
        span.channel-name #{user.name}의 채널
    div.video-list Video List
    div.video-grid
        each item in user.videos 
            +video(item)
        else 
            span.empty__message No videos found
    if String(loggedInUser._id) === String(user.id)
        div.auth-switch
            a(href="/users/edit") Edit Profile &rarr;
